<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <iom-item>
      <img src="assets/images/yo.png" alt="Foto mía">
    </iom-item>
    <br>
    <iom-item>
      <label>Nombre:</label> Alexis Francisco
    </iom-item>
    <br>
    <iom-item>
      <label>Apellido:</label> Amézquita Almonte
    </iom-item>
    <br>
    <iom-item>
      <label>Correo:</label> Alexisfco10@gmail.com
    </iom-item>

  </ion-list>

</ion-content>